<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Functional Tests">
            <directory suffix="Test.php">tests/Functional</directory>
        </testsuite>

        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/dependencies.php</file>
                <file>src/middlewares.php</file>
                <file>src/routes.php</file>
                <file>src/secret.php</file>
                <file>src/ProxyBank/Composer.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="public/tests/coverage"/>
        <log type="testdox-html" target="public/tests/index.html"/>
    </logging>
</phpunit>
